body {
    margin: 0;
    background: black;
    user-select: none;
}

#main {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

#reticle {
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background: white;
    opacity: .5;
}

#caption {
    background: #336699;
    position: absolute;
    top: 1em;
    max-width: 80%;
    color: white;
    padding: 1em;
    font-family: sans-serif;
    display: inline-block;
    justify-self: start;
    visibility: hidden;
    pointer-events: auto;
    border: 1px solid white;
    border-radius: 1em;
}

#detail {
    background: #336699;
    color: white;
    padding: 1em;
    max-width: 256px;
    font-family: sans-serif;
    display: inline-block;
    visibility: hidden;
    pointer-events: auto;
    cursor: pointer;

    border: 1px solid white;
    border-radius: 1em;
}

#info {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;

    flex-direction: column;

    pointer-events: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#log {
    background: black;
    opacity: .5;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25%;
    overflow: scroll;
}