@import "../node_modules/bootstrap/scss/bootstrap";

body {
    margin: 0;
    background: #4a6db4;
    user-select: none;
}

#reticle {
    width: 6px;
    height: 6px;
    border-radius: 2px;
    background: white;
    opacity: .5;
}

#caption {
    pointer-events: auto;
    cursor: pointer;
}

#detail {
    pointer-events: auto;
    cursor: pointer;
}

#info {
    pointer-events: none;
}

#log {
    background: black;
    opacity: .5;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 25%;
    overflow: scroll;
}